
$green: green;
$darkGray: #888;
$lightGray: #e5e5e5;
$listingRed: orangered;
$black: #000000;
$red: red;
$yellow: yellow;
$lightGreen: lightGreen;
$lightBlue: lightblue;
$purple: purple;
$violet: violet;
$brown: brown;
$gray: gray;
$pink: pink;
